html, body
{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height:100%;
}
.main, .overlay, .txt
{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif
}
.overlay
{
 /* background: url(img/project1.jpg); */
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
}
.main
{
   text-align: right;
   color: white;
   line-height: 0.5;
   font-size:26px;
   background:rgba(150, 150, 150, 0.3);
   padding-top: 2%;
   
}
.iback
{
  background: url(img/project1.jpg);  
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
}
.bback
{
   background: url(img/project3.jpg); 
   background-size: cover;
  background-position: center;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
}

#txt
{
    text-align: center;
    font-size: 56px;
    /*font-family: 'Patua One', cursive;*/
    color: #FFF;
    font-weight: 400;
    text-shadow: 1px 1px 1px black;
}

.links
{
    display: flex;
    justify-content: center;
}

.links > a
{
    color: white;
    margin: 10px;
    text-decoration: none;
    background: red;
    padding: 20px;
    min-width: 100px;
    text-align: center;
    border-radius: 5px;
}